<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Anasayfa {% endblock %}</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

    <div id="container">

        <!-- Başlık Alanı Başlangıç -->
        <nav class="navbar navbar-light bg-light" style="box-shadow:2px 2px 5px;">
            <div class="row" style="width:100%">
                <div class="col-sm-6">
                    <h4>Uluslararası Güvenlik Açığı Raporları</h4>
                </div>
                <div class="col-sm-5">

                </div>
                <div class="col-sm-1">
                    <h2>STM</h2>
                </div>
            </div>

        </nav>
        <!-- Başlık Alanı Bitiş -->

        <!-- NVD Bilgileri -->
        <div id="NVD-container">

            <div class="row" style="width:98%; margin:2%;">
                <div id="NVDtable" class="col-sm-7" style="padding:1%; min-height:400px; border:1px solid write; border-radius:5px; box-shadow:2px 2px 5px;">
                    <img style="-webkit-user-select: none;cursor: zoom-in; padding:0; max-height:100%; max-width:100%" src="http://127.0.0.1:8000/NVDtable">
                </div>
                <div class="col-sm-5" style="padding-left:4%; margin-top:1%;">
                    <div class="card border-danger mb-3" style="max-width: 90%; box-shadow:2px 2px 5px;">
                        <div class="card-header">2002-2018 National Vulnerability Database-(NVD)</div>
                        <div class="card-body text-danger">
                            <h5 class="card-title">2002 - 2018 Yılları Arasında NVD'nin Raporlandırdığı Güvenlik Açıkları Sayısı</h5>
                            <p class="card-text">
                                Bu veriler <a href="https://nvd.nist.gov/vuln/data-feeds" target="_blank">NVD Data Feeds</a>
                                adresinden temin edilen XML dosyalarının işlenmesi sonucu elde edilmiştir. NVD,
                                Amerika Birleşik Devletleri hükümetinin güvenlik açığı verilerini depolar.
                                Bu güvenlik açığı raporları
                                <a href="https://cve.mitre.org/index.html" target="_blank">Common Vulnerabilities and Exposures-(CVE)</a>
                                tarafından sağlanan verilerdir.
                            </p>
                        </div>
                    </div>
                    <!-- GÜNCELLEME BUTONU
                    <a href="http://127.0.0.1:8000/updateNVD" target="_blank">
                        <button type="button" class="btn btn-danger" >Verileri Güncelle</button>
                    </a>
                    -->
                </div>
            </div>

        </div>
        <!-- NVD Bilgileri Sonu -->
        <hr>
        <!-- CNNVD Bilgileri -->
        <div id="CNNVD-container">

            <div class="row" style="width:96%; margin:2%;">
                <div class="col-sm-5" style="padding-left:2%; margin-top:1%;">
                    <div class="card border-danger mb-3" style="max-width: 90%; box-shadow:2px 2px 5px;">
                        <div class="card-header">2015-2018 China National Vulnerability Database(CNNVD)</div>
                        <div class="card-body text-danger">
                            <h5 class="card-title">2015 - 2018 Yılları Arasında CNNVD'nin Raporlandırdığı Güvenlik Açıkları</h5>
                            <p class="card-text">
                                Bu veriler <a href="http://www.cnvd.org.cn/shareData/list" target="_blank">CNNVD Data Feeds</a>
                                adresinden temin edilen XML dosyalarının işlenmesi sonucu elde edilmiştir. CNNVD,
                                Çin hükümetinin güvenlik açığı verilerini depolar. Bu güvenlik açığı raporları
                                <a href="https://cve.mitre.org/index.html" target="_blank">Common Vulnerabilities and Exposures-(CVE)</a>
                                 tarafından sağlanan verilerdir.
                            </p>
                        </div>
                    </div>
                </div>
                <div id="CNNVDtable" class="col-sm-7" style="padding:1%; min-height:400px; border:1px solid write; border-radius:5px; box-shadow:2px 2px 5px;">
                    <img style="-webkit-user-select: none;cursor: zoom-in; padding:0; max-height:100%; max-width:100%" src="http://127.0.0.1:8000/CNNVDtable">
                </div>
            </div>

        </div>
        <!-- CNNVD Bilgileri Sonu -->
        <hr>
        <div id="NVDvsCNNVD">

            <!-- NVD ve CNNVD Veri Grafiği -->
            <div class="row" style="width:100%">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-8" style="padding:1%; min-height:400px; border:1px solid write; border-radius:5px; box-shadow:2px 2px 5px; margin-bottom:2%;">
                    <img style="-webkit-user-select: none;cursor: zoom-in; padding:0; max-height:100%; max-width:100%" src="http://127.0.0.1:8000/NVDvsCNNVDtable">
                </div>
                <div class="col-sm-2">

                </div>
            </div>
            <!-- NVD ve CNNVD Veri Grafiği Sonu -->

            <!-- NVD ve CNNVD Verilerinin Analizi -->
            <div class="row" style="width:100%; margin-bottom:2%;">

                <div class="col-sm-6" style="padding:4%;">
                    <h3>NVD vs CNNVD</h3>
                    <div id="accordion">
                        {% for key, value in all_years_NVD_except_CNNVD.items %}
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#{{ key }}" aria-expanded="true" aria-controls="collapseOne">
                                            {{ key }}
                                        </button>
                                    </h5>
                                </div>

                                <div id="{{ key }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        {% for sayi in value %}
                                            {{ sayi }}<br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="col-sm-6" style="padding-left:5%; margin-top:4%;">
                    <h3>CNNVD vs NVD</h3>
                    <div id="accordion1">
                        {% for key, value in all_years_CNNVD_except_NVD.items %}
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#{{ key }}Two" aria-expanded="true" aria-controls="collapseOne">
                                            {{ key }}
                                        </button>
                                    </h5>
                                </div>

                                <div id="{{ key }}Two" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion1">
                                    <div class="card-body">
                                        {% for sayi in value %}
                                            {{ sayi }}<br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            <!-- NVD ve CNNVD Verilerinin Analizi Sonu -->
            </div>
        </div>
    </div>

    <!-- JS dosyalarını yüklenmesi -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>